// импорт другого файла (обнуление стилей)
@import "../scss/nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato&family=PT+Sans&display=swap');


// шаблоны


// MAIN-BLOCK 
.main-block {
    background: url(../img/top-content/background.png) no-repeat;
    background-size: cover;
    min-width: 750px;
    height: 1015px;
    margin: 0px 0px 30px 0px;
    min-height: 100%;
}

.main-block__header {
    text-align: center;
}

.main-block__header .logo {
    margin: 150px 0px 150px 0;
}

.main-block__content {
    font-family: "Lato";
    color: white;
}

.main-block__title {
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 30px 0px;
}


.main-block__subtitle {
    font-size: 30px;
    text-transform: lowercase;
    text-align: center;
    margin: 0px 0px 250px 0px;
    position: relative;
    padding: 0px 0px 0px 100px;
}

.main-block__subtitle::after {
    content: url(../img/top-content/Line.png);
    width: 100px;
    height: 2px;
    position: relative;
    top: 60px;
    right: 220px;
}


.main-block__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 180px;
    height: 45px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.main-block__readmore-button {
    border: 1px solid white;
    background: none;
    color: white;
    margin: 0px 0px 70px 0px;
}

.main-block__readmore-button:hover {
    transition: 500ms;
    box-shadow: 0px 0px 10px 10px white;
}


.main-block__down {
    background: url(../img/top-content/Arrow-down.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 10px;

}

.main-block__readmore-button:active {
    transition: 100ms;
    background-color: #aeaeae;
}

// MAIN-BLOCK



// ABOUT-BLOCK
.about-block {
    min-width: 750px;
    height: 900px;
}

.about-block__header {
    border-bottom: 2px solid #f2f2f2;
    margin: 0px 0px 100px 0px;
}

.about-block__links {
    text-align: center;
    margin: 0px 0px 35px 0px;
    padding: 0px 0px 0px 100px;
}

.about-block__link {
    margin: 0px 50px 0px 0px;
    font-family: "Lato";
    font-size: 25px;
    text-transform: uppercase;
    color: #3c3c3c;
}

.about-block__link:nth-child(1):hover {
    transition: 800ms;
    background-color: #ada074;
    color: white;
    box-shadow: 0px 0px 10px 10px #ada074;
}

.about-block__link:nth-child(2):hover,
.about-block__link:nth-child(3):hover,
.about-block__link:nth-child(4):hover {
    transition: 800ms;
    background-color: #aeaeae;
    color: white;
    box-shadow: 0px 0px 10px 10px #aeaeae;
}

.about-block__link--gold {
    color: #ada074;
}

.about-block__content {
    text-align: center;
}


.title {
    font-family: "Lato";
    letter-spacing: 5px;
}

.about-block__title {
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0px 0px 100px 0px;
    padding: 0px 0px 0px 80px;
}

.about-block__title::after {
    content: url(../img/about-block/Line.png);
    position: relative;
    top: 50px;
    right: 125px;
}


.subtitle {
    font-family: "Lato";
    color: #aeaeae;
    line-height: 30px;
    font-size: 15px;
}

.about-block__subtitle {
    margin: 0px 0px 70px 0px;
}

.about-block__row {
    display: flex;
    justify-content: center;
    padding: 0px 0px 70px 110px;
}

.about-block__column {
    padding: 0px 50px 0px 0px;
}

.about-block__icon {
    margin: 0px auto 30px auto;
    padding: 0px 0px 30px 0px;
    border: 3px solid #f2f2f2;
    width: 82px;
    height: 72px;
    border-radius: 50%;
}

.about-block__icon img {
    position: relative;
    width: 42px;
    height: 32px;
    top: 15px;
}


.about-block__column-title {
    padding: 0px 0px 30px 0px;
    text-transform: uppercase;
    font-size: 22px;
}

.about-block__column-subtitle {
    padding: 0px 0px 30px 0px;
}

.about-block__column-subtitle:hover {
    transition: 800ms;
    font-size: 20px;
}

// ABOUT-BLOCK


// PORTFOLIO-BLOCK
.porfolio-block {
    background-color: #f3f3f3;
    min-width: 750px;
    height: 1250px;
    padding: 70px 0px 0px 0px;
}

.portfolio-block__content {
    display: flex;
    flex-direction: column;
    width: 980px;
    height: 800px;
    margin: 0px auto;
}

.porfolio-block__header {
    text-align: center;
    margin: 0px 0px 100px 0px;
}

.porfolio-block__title {
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0px 0px 70px 0px;
}

.porfolio-block__title::after {
    content: url(../img/about-block/Line.png);
    position: absolute;
    top: 30px;
    left: 435px;
}

.porfolio-block__links {
    text-align: center;
    padding: 0px 0px 0px 15px;
}

.porfolio-block__link {
    margin: 0px 25px 0px 0px;
    font-family: "Lato";
    font-size: 14px;
    text-transform: uppercase;
    color: #3c3c3c;
}

.porfolio-block__link:nth-child(1):hover {
    transition: 800ms;
    font-size: 15px;
    background-color: #ada074;
    color: white;
    box-shadow: 0px 0px 10px 10px #ada074;
}

.porfolio-block__link:nth-child(2):hover,
.porfolio-block__link:nth-child(3):hover,
.porfolio-block__link:nth-child(4):hover {
    transition: 800ms;
    font-size: 15px;
    background-color: #aeaeae;
    color: white;
    box-shadow: 0px 0px 10px 10px #aeaeae;
}

.porfolio-block__link--gold {
    color: #ada074;
}

.portfolio-block__row {
    display: flex;
    margin: 0px -5px 70px -5px;
    padding: 0px 35px;

}

.portfolio-block__column {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.portfolio-block__image {
    width: 400px;
    height: 250px;
    margin: 0px 0px 10px 0px;
}

.portfolio-block__footer {
    text-align: center;
    padding: 0px 20px 0px 0px;
}

.porfolio-block__button {
    border: 1px solid black;
}

.porfolio-block__button:hover {
    transition: 500ms;
    box-shadow: 0px 0px 10px 10px #5b5b5b;
    border: none;
}

.porfolio-block__button:active {
    transition: 100ms;
    background-color: #aeaeae;
}

// PORTFOLIO-BLOCK


// PARTNERS-BLOCK
.partners-block {
    height: 650px;
    min-width: 750px;
    background-image: url(../img/partner-block/BG.png);
    background-size: cover;
    padding: 150px 0px 0px 0px;
}

.partners-block__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin: 0px auto;
    padding: 0px 0px 0px 20px;

}

.partners-block__title {
    font-family: "Lato";
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 0px 0px 130px 0px;
    padding: 0px 30px 0px 0px;


}

.partners-block__links {
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 120px;

}

.partners-block__link {
    margin: 0px 150px 0px 0px;
}

.partners-block__link:nth-child(4) {
    align-self: center;
}

// PARTNERS-BLOCK


// CONTACT
.contact-block {
    height: 1000px;
    min-width: 750px;
    background-color: white;
    padding: 150px 0px 0px 0px;
}

.contact-block__content {
    width: 50%;
    height: 50%;
    margin: 0px auto;
    padding: 0px 0px 0px 20px;
    text-align: center;
}

.contact-block__title {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0px 0px 120px 50px;
}

.contact-block__title::after {
    content: url(../img/about-block/Line.png);
    position: relative;
    top: 30px;
    right: 150px;
}

.contact-block__row {
    display: flex;
    justify-content: center;
    padding: 0px 200px 0px 0px;
}

.contact-block__column {
    margin: 0px 0px 0px 70px;
}

.contact-block__bio {
    display: flex;
    margin: 10px 0px 100px 0px;
}

.contact-block__your-name {
    display: flex;
    flex-direction: column;
    margin: 0px 50px 0px 0px;
}


.contact-block__name-input:focus,
.contact-block__email-input:focus,
.contact-block__textarea:focus {
    transition: 800ms;
    box-shadow: 0px 0px 10px 10px #5b5b5b;
}


.label {
    font-family: "Lato";
    font-weight: bold;
}

.contact-block__label {
    text-align: left;
    margin: 0px 0px 15px 0px;
}


.text-input {
    flex: 1 1 40px;
    background-color: #f8f7f7;
    border-top: 2px solid black;
    padding: 0px 10px;
}


.contact-block__your-email {
    display: flex;
    flex-direction: column;
}


.contact-block__message {
    display: flex;
    flex-direction: column;
}

.contact-block__textarea {
    flex: 1 0 150px;
    background-color: #f8f7f7;
    border-top: 2px solid black;
    margin: 0px 0px 30px 0px;
    padding: 10px 10px;
    max-width: 410px;
    height: 150px;
    resize: none;
}

.contact-block__button {
    font-family: "Lato";
    font-weight: bold;
    background: none;
    width: 70px;
    height: 30px;
    margin: 0px 0px 0px 350px;
}

.contact-block__button:hover {
    border-radius: 30px;
    transition: 500ms;
    font-size: 20px;
    box-shadow: 0px 0px 10px 10px #f8f7f7;
}

.contact-block__text {
    width: 300px;
    color: #555555;
    margin: 0px 0px 30px 0px;
    line-height: 30px;
    font-size: 15px;
    text-align: left;
}

.contact-block__name {
    font-family: "Lato";
    font-weight: bold;
    text-align: left;
    margin: 0px 0px 30px 0px;
}

.contact-block__links {
    text-align: left;
    margin: 0px 0px 30px 0px;
}

.contact-block__link {
    height: 23px;
    width: 23px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 1px;
}

.contact-block__email {
    text-align: left;
    font-size: 15px;
}

.email-span {
    font-family: "Lato";
    font-weight: bold;
}

// CONTACT



// FOOTER
.footer-block {
    height: 400px;
    min-width: 750px;
    background-color: #3c3c3c;
    padding: 100px 0px 0px 0px;
}

.footer-block__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-block__header {
    margin: 0px 0px 30px 0px;
}

.footer-block__links {
    margin: 0px 0px 20px 30px;
}

.footer-block__link {
    color: #8a8a8a;
    margin: 0px 20px 0px 0px;
}

.footer-block__rights {
    color: #6c6c6c;
}

// FOOTER
